name: Package

on: workflow_dispatch

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2022, ubuntu-20.04, ubuntu-22.04-arm, macos-13, macos-14]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Set up JDK 22.0.2
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '22.0.2'
      - name: Show Build Versions
        run: ./gradlew -v
      - name: Build with Gradle
        run: ./gradlew jpackage
      - name: Codesign, package and notarize macOS distribution
        if: ${{ runner.os == 'macOS' }}
        uses: sparrowwallet/github-actions/codesign-macos@v1
        with:
          certificate: ${{ secrets.MACOS_CERTIFICATE }}
          certificate-password: ${{ secrets.MACOS_CERTIFICATE_PASSWORD }}
          apple-id: ${{ secrets.MACOS_NOTARIZATION_APPLE_ID }}
          team-id: ${{ secrets.MACOS_NOTARIZATION_TEAM_ID }}
          notarization-password: ${{ secrets.MACOS_NOTARIZATION_PASSWORD }}
      - name: Package Windows zip distribution
        if: ${{ runner.os == 'Windows' || runner.os == 'macOS' }}
        run: ./gradlew packageZipDistribution
      - name: Package Linux tar distribution
        if: ${{ runner.os == 'Linux' }}
        run: ./gradlew packageTarDistribution
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Lark Build - ${{ runner.os }} ${{ runner.arch }}
          path: |
            build/jpackage/*
            !build/jpackage/Lark/
            !build/jpackage/lark/
            !build/jpackage/Lark.app/
